# 防止超时
build                   --remote_timeout=3600000
build                   --experimental_ui_max_stdouterr_bytes=50485760
build                   --curses=no

build:remote            --remote_executor=grpc://IP地址或者域名:8980
build:remote            --remote_cache=grpc://IP地址或者域名:8980

build:luckfox-platform  --crosstool_top=//toolchain/toolchains/cc-armv7l-luckfox:gcc_toolchain
build:luckfox-platform  --cpu=luckfox
build:luckfox-platform  --platforms=//toolchain/platforms:luckfox

#build                   --config=remote
build                   --config=luckfox-platform

